<h1>add categories</h1>

<form action="/admin/create_category" method="POST" enctype="multipart/form-data">
    <input type="text" name="category[name]" id="">
    <input type="text" name="category[icon]" id="">
    <input class="btn_1 green" type="file" name="category[image]" id="js-upload-files" multiple>
    <button> Add category</button>                                       
</form>