<header class="topbar">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <a href="/" class="d-sm-block d-md-none">
            <img src="/assets/headerlogo.png" alt="logo ad gallery small" width="43px">
        </a>
        <span class="d-sm-block d-md-none">

            <% if(!currentUser){ %>
                <ul class="mobile-menu-login">
                    <li class="nav-item">
                        <a class="nav-link" href="/login" data-toggle="modal" data-target="#responsive-modal">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-success" href="/register">Sign up</a>
                    </li>
                </ul>
                <% } else { %>
                    <ul class="mobile-menu-login">
                        <% include ./profile %>
                    </ul>
                    <% } %>

        </span>

        <div class="collapse navbar-collapse" id="navbarsExample04">

            <ul class="navbar-nav">
                <li class="d-none d-md-block">
                    <a href="/">
                        <img src="/assets/headerlogo.png" alt="logo ad gallery small" width="43px">
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">photos</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="/photos/p/1?category=all">All Photos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/photos/categories">All Categories</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/footage">Footage</a>
                </li>


                <li class="nav-item ">
                    <a class="nav-link" href="/user-profiles">profiles</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/collection">Collections</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto not-mobile">
                <% if(!currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login" data-toggle="modal" data-target="#responsive-modal">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-success" href="/register">Sign up</a>
                    </li>
                    <% } else { %>

                        <li class="nav-item center-with-flex user-icons">
                            <a href="/user/cart">
                                <i class="fa fa-shopping-basket"></i>
                            </a>
                            <p id="user-cart-count">
                                <%= currentUser.cart.photos.length %>
                            </p>
                        </li>

                        <li class="nav-item center-with-flex user-like">
                            <a href="/user/liked">
                                <i class="fa fa-heart"></i>
                            </a>
                            <p id="user-like-count">
                                <%= currentUser.like.photos.length %>
                            </p>
                        </li>
                        <% if(currentUser.canUpload){%>
                            <li class="nav-item dropdown center-with-flex user-icons">
                                <a class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus-square"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown04">
                                    <a class="dropdown-item" href="/user/photos/new">Photos</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/user/footage/new">Footage</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/collection/new">Collection</a>
                                </div>
                            </li>
                            <% }  %>
                            
                                    <% if(currentUser.isAdmin){ %>
                                        <li class="nav-item center-with-flex">
                                            <a class="nav-link" href="/admin/category">Go to admin</a>
                                        </li>
                                        <% } %>

                                            <% include ./profile %>
                                                <% } %>


            </ul>

        </div>

    </nav>
</header>

<% include ./loginmodal %>