<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <% if(currentUser.image.name) {%>
            <img src="http://res.cloudinary.com/adgallerytz/image/upload/c_scale,q_150,w_100/c_crop,g_face,h_80,w_80/v1530718781/user/<%= currentUser.image.name %>"
                alt="user" class="profile-pic" width="30px">
            <% }else{%>
                <img src="http://res.cloudinary.com/adgallerytz/image/upload/c_scale,q_150,w_100/c_crop,g_face,h_80,w_80/v1530718781/user-icon-image-placeholder.jpg"
                    alt="user" class="profile-pic" width="30px">
                <% }%>
    </a>
    <div class="dropdown-menu dropdown-menu-right scale-up">
        <ul class="dropdown-user">
            <li>
                <div class="dw-user-box">
                    <div class="u-img">
                        <% if(currentUser.image.name) {%>
                            <img src="http://res.cloudinary.com/adgallerytz/image/upload/c_scale,q_150,w_100/c_crop,g_face,h_80,w_80/v1530718781/user/<%= currentUser.image.name %>"
                                alt="user">
                            <% }else{%>
                                <img src="http://res.cloudinary.com/adgallerytz/image/upload/c_scale,q_150,w_100/c_crop,g_face,h_80,w_80/v1530718781/user-icon-image-placeholder.jpg"
                                    alt="user">
                                <% }%>
                    </div>
                    <div class="u-text">
                        <h4>
                            <%= currentUser.fullname %>
                        </h4>
                        <a href="/user/profile" class="btn btn-rounded btn-info btn-sm">View Profile</a>
                    </div>
                </div>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="/user/profile">
                    <i class="ti-user"></i> My Profile</a>
            </li>
            <% if(!currentUser.canUpload){%>
                <li>
                    <a href="/apply">
                        <i class="ti-user"></i> Apply to Upload</a>
                </li>
                <% }%>
                    <!-- <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li> -->
                    <li>
                        <a href="/user/inbox">
                            <i class="ti-email"></i> Inbox</a>
                    </li>
                    <li>
                            <a href="/cart">
                                <i class="ti-email"></i> My Cart</a>
                        </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="/user/profile/settings">
                            <i class="ti-settings"></i> Account Setting</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <form action="/logout" method="post">
                            <button class="btn btn-outline-danger" type="submit" style="margin: 8px 8px;">
                                <i class="fa fa-power-off"></i> Logout
                            </button>
                        </form>
                    </li>
        </ul>
    </div>
</li>