<% include ../partials/header %>
    <% include ../partials/navbar %>
        <div class="container">
            <div class="gallery-edit">
                <form method="POST" action="/user/photos/new/edit?_method=put">
                    <% photos.forEach(photo => { %>
                        <%  include ./edit-photo.ejs %>
                            <% })%>

                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-block btn-primary"> Submit Photos </button>
                                    </div>
                                </div>
                </form>
            </div>
        </div>
<% include ../partials/footer %>