<% include ../partials/header %>
    <% include ../partials/navbar %>
        <div class="wrapper">

            <div id="gallery-content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light m-t-60">
                    <div class="container-fluid body-items">

                        <div class="row el-element-overlay gallery-100">

                            <div class="col-md-12 gallery-title">
                                <div class="form-group row">
                                    <label for="example-month-input" class="col-md-3 col-form-label">Category</label>
                                    <div class="col-md-9">
                                        <select class="custom-select col-12" id="select-category">
                                            <option value="All">All</option>
                                            <% categories.forEach(cat => { %>
                                                <option value="<%= cat._id %>">
                                                    <%= cat.name %>
                                                </option>
                                                <%  })%>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="example-month-input" class="col-md-4 col-form-label">Sort By</label>
                                    <div class="col-md-8">
                                        <select name="select" id="select-sort" class="custom-select col-12" id="inlineFormCustomSelect">
                                            <option selected="recommended">Recommended</option>
                                            <option value="latest">Latest</option>
                                            <option value="likes">Most Liked</option>
                                            <option value="views">Most Viewed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">

                                    <form class="search-form" action="">
                                        <div class="input-group">
                                            <input type="hidden" name="category" value="All">
                                            <input type="hidden" name="type" value="image">
                                            <input name="q" type="text" class="form-control image-search" placeholder="Search for...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-info" type="submit">
                                                    <i class="fa fa-search"> </i>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="gallery-mobile-filters">

                                <a class="mobile-options">
                                    <i class="fa fa-bars"></i>
                                    Filter
                                </a>

                                <a id="mobile-search" class="mobile-options">
                                    Search
                                    <i class="fa fa-search"></i>
                                </a>
                                <div id="mobile-search-location" style="display: none; width: 100%">
                                    <form class="search-form" action="">
                                        <div class="mobile-search-bar">
                                            <i class="fa fa-times dismiss-button"></i>

                                            <input type="hidden" name="category" value="All">
                                            <input type="hidden" name="type" value="image">
                                            <input name="q" class="image-search" type="text" placeholder="search images here..">

                                        </div>
                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>


                            </div>

                            <div id="photos-container">
                                <div style="min-height: 270px; display: flex; align-items: center; justify-content: center; width: 100%;">
                                    <i class="fa fa-spin fa-spinner" style="font-size: 100px">
                                    </i>
                                </div>
                            </div>

                        </div>

                        <% include ./paginator %>

                    </div>
                </nav>
            </div>
        </div>



        <footer class="footer">
            © 2018 Ad Gallery
        </footer>
        <script src="/js/jquery-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
        <script src="/assets/plugins/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
        <script src="/assets/plugins/Magnific-Popup-master/dist/jquery.magnific-popup-init.js"></script>
        <script src="/js/loadingOverlay.min.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/photos.js"></script>
        </body>

        </html>