<div class="pagination table-responsive m-b-40 bg-white">
    <button class="btn btn-block btn-primary" id="load-more-button"> Load More </button>
    <h4 id="end-of-images" style="display: none;"> End of Images </h4>
</div>
<!-- 
<h4 id="end-of-images" style="display: none;"> End of Images </h4> -->
