<% include ../partials/header %>
    <% include ../partials/navbar %>
        <div class="container">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-6">
                    <img src="https://res.cloudinary.com/adgallerytz/image/upload/c_scale,w_600/c_scale,l_logo1,r_0,w_400/v1530007907/photos/<%= photo.image.name %>" alt="title">
                </div>
                <div class="col-6">

                </div>
            </div>
        </div>
        <h1>Single Photo page</h1>
        <% include ../partials/footer %>