<% include ./partials/header %>
    <% include ./partials/navbar %>
    <div class="page-wrapper">
        <div class="landingHeader">
            <h3> Great stories start here.</h3>
            <p>Discover over 209 million royalty-free images, stock video clips, and music tracks.</p>

            <div class="landingSearch d-none d-lg-block">
                <form action="/search" method="GET">
                    <input type="search" placeholder="seach stock images, footage">
                    <select id="exampleFormControlSelect1">
                        <option>Images</option>
                        <option>Footage</option>
                    </select>
                    <button>
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>

        </div>
        <div class="container">
            <div class="homeBody">

                <p> Ad gallery recommended categories</p>
                <div class="homeCategories">

                </div>
            </div>

        </div>

        <% include ./partials/footer %>