<% include ./partials/header %>
    <% include ./partials/navbar %>
        <% photos.forEach(photo => { %>
            <h1>
                <%= photo.title %>
            </h1>
            <p> <%= photo.description %> </p>
            <% }) %>
          

                <% include ./partials/footer %>