
                                <div class="col-lg-3 col-md-6">
                                        <div class="card">
                                            <div class="el-card-item">
                                                <div class="el-card-avatar el-overlay-1">
                                                    <a href="/photos/<%= photo._id %>">
                                                    <img src="https://res.cloudinary.com/adgallerytz/image/upload/c_scale,w_500/c_crop,h_255,w_255/v1528998321/photos/<%= photo.image.name %>"
                                                        alt="home">
                                                    </a>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>