<% include ../partials/header %>
    <% include ../partials/navbar %>

        <% users.forEach(user => { %>
            <p>
                <%= user.fullname %>
            </p> 
            <% }) %>

            <% include ../partials/footer %>