<div class="adminNav scroll-sidebar" style="padding-top: 40px; overflow: hidden; height: 100%;">

    <ul class="list-group list-group-flush">

        <a href="/admin/category">
            <li class="list-group-item active-item">
                <span>
                    <i class="fa fa-list-alt"></i>
                    Categories
                </span>

                <span class="badge">
                    <i class="fa fa-arrow-right"></i>
                </span>
            </li>
        </a>

        <a href="/admin/users">
            <li class="list-group-item">
                <span>
                    <i class="fa fa-address-book"></i>
                    users
                </span>

                <span class="badge">
                    <i class="fa fa-arrow-right"></i>
                </span>
            </li class="list-group-item">
        </a>

        <a href="/admin/photos">
            <li class="list-group-item">
                <span>
                    <i class="fa  fa-file-image-o"></i>
                    photos
                </span>

                <span class="badge">
                    <i class="fa fa-arrow-right"></i>
                </span>
            </li>
        </a>

    </ul>




</div>